In [423]:
import sys
!{sys.executable} -m pip install boto3

Requirement already satisfied: boto3 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (1.42.20)
Requirement already satisfied: botocore<1.43.0,>=1.42.20 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from boto3) (1.42.20)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.17.0,>=0.16.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from boto3) (0.16.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from botocore<1.43.0,>=1.42.20->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from botocore<1.43.0,>=1.42.20->boto3) (2.2.3)
Requirement already satisfied: six>=1.5 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.43.0,>=1.42.20->boto3) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: C:\Users\pdmah\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [424]:
import boto3
boto3.client("sts").get_caller_identity()
import pandas as pd
from io import StringIO
import time

In [425]:
AWS_ACCESS_KEY = "AKIARZIPU53DCNQDBXF2"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://pavan-test-buckett/output/"
S3_BUCKET_NAME = "pavan-test-buckett"
S3_OUTPUT_DIR = "output"

In [426]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [427]:
Dict = {}

def downlaod_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response['QueryExecutionId']
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err

    temp_file_location: str = "athena_query_results.csv"

    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )

    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIR}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )

    return pd.read_csv(temp_file_location)

In [428]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usaus_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
response

{'QueryExecutionId': '9af107e0-040a-4cc0-9d3e-7a6079e8d376',
 'ResponseMetadata': {'RequestId': 'ba7271e2-0052-4d46-9bfc-d849e4f0da2d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sat, 03 Jan 2026 15:38:25 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'ba7271e2-0052-4d46-9bfc-d849e4f0da2d'},
  'RetryAttempts': 0}}

In [429]:
nytimes_data_in_usaus_states = downlaod_and_load_query_results(athena_client, response)
nytimes_data_in_usaus_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [430]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_datastates_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [431]:
rearc_covid_19_testing_datastates_daily = downlaod_and_load_query_results(athena_client, response)

In [432]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [433]:
rearc_covid_19_testing_dataus_daily = downlaod_and_load_query_results(athena_client, response)

In [434]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [435]:
rearc_covid_19_testing_dataus_total_latest = downlaod_and_load_query_results(athena_client, response)

In [436]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetscountrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [437]:
static_datasetscountrycode = downlaod_and_load_query_results(athena_client, response)

In [438]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetscountypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [439]:
static_datasetscountypopulation = downlaod_and_load_query_results(athena_client, response)

In [440]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetsstate_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [441]:
static_datasetsstate_abv = downlaod_and_load_query_results(athena_client, response)

In [442]:
static_datasetsstate_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [443]:
new_header = static_datasetsstate_abv.iloc[0]  # grab the first row for the header
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [444]:
static_datasetsstate_abv = static_datasetsstate_abv[1:]  # take the data less the header row
static_datasetsstate_abv.columns = new_header  # set the header row as the df header

In [445]:
static_datasetsstate_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [446]:
factCovid_cases = nytimes_data_in_usaus_states[
    ['date', 'state', 'fips', 'cases', 'deaths']
]
factCovid_tests = rearc_covid_19_testing_datastates_daily[
    ['date', 'state', 'fips', 'positive', 'negative', 'hospitalized']
]

In [447]:
nytimes_data_in_usaus_states['fips'].isna().sum()

np.int64(0)

In [448]:
factCovid_cases['date'] = pd.to_datetime(factCovid_cases['date'])

factCovid_tests['date'] = pd.to_datetime(
    factCovid_tests['date'].astype(str),
    format='%Y%m%d'
)

In [449]:
factCovid = pd.merge(
    factCovid_cases,
    factCovid_tests,
    on=['date', 'state'],
    how='inner'
)

In [450]:
factCovid.shape

(0, 9)

In [451]:
set(nytimes_data_in_usaus_states['state'].head(20))

{'Arizona', 'California', 'Illinois', 'Washington'}

In [452]:
set(rearc_covid_19_testing_datastates_daily['state'].head(20))

set()

In [453]:
state_fips = (
    static_datasetscountypopulation[['state', 'id2']]
    .drop_duplicates()
    .rename(columns={'id2': 'fips'})
)

In [454]:
fact_cases = pd.merge(
    factCovid_cases,
    state_fips,
    on='state',
    how='inner'
)

In [455]:
fact_cases = fact_cases.drop(columns=['fips_x'])
fact_cases = fact_cases.rename(columns={'fips_y': 'fips'})
fact_cases.columns

Index(['date', 'state', 'cases', 'deaths', 'fips'], dtype='object')

In [456]:
factCovid = nytimes_data_in_usaus_states[
    ['date', 'state', 'cases', 'deaths']
]

factCovid.shape

(3754, 4)

In [457]:
factCovid.head()

         date       state  cases  deaths
0  2020-01-21  Washington      1       0
1  2020-01-22  Washington      1       0
2  2020-01-23  Washington      1       0
3  2020-01-24    Illinois      1       0
4  2020-01-24  Washington      1       0

In [458]:
# base state list from fact source
dimState = nytimes_data_in_usaus_states[['state']].drop_duplicates()

# rename static state abv table
state_abv = static_datasetsstate_abv.copy()
state_abv.columns = ['state', 'state_abv']

# merge abbreviation
dimState = dimState.merge(
    state_abv,
    on='state',
    how='left'
)

# optional: add population
state_population = (
    static_datasetscountypopulation[['state', 'population estimate 2018']]
    .groupby('state', as_index=False)
    .sum()
    .rename(columns={'population estimate 2018': 'population'})
)

dimState = dimState.merge(
    state_population,
    on='state',
    how='left'
)

dimState.shape
dimState.head()

           state state_abv  population
0     Washington        WA   7535591.0
1       Illinois        IL  12741080.0
2     California        CA  39557045.0
3        Arizona        AZ   7171646.0
4  Massachusetts        MA   6902149.0

In [459]:
dimCountry = static_datasetscountrycode[[
    'country',
    'alpha-2 code',
    'alpha-3 code',
    'numeric code',
    'latitude',
    'longitude'
]].drop_duplicates()

dimCountry.shape
dimCountry.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [460]:
dimDate = factCovid[['date']].drop_duplicates()

dimDate['date'] = pd.to_datetime(dimDate['date'])

dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day'] = dimDate['date'].dt.day
dimDate['day_of_week'] = dimDate['date'].dt.day_name()

In [461]:
dimDate.head()

        date  year  month  day day_of_week
0 2020-01-21  2020      1   21     Tuesday
1 2020-01-22  2020      1   22   Wednesday
2 2020-01-23  2020      1   23    Thursday
3 2020-01-24  2020      1   24      Friday
5 2020-01-25  2020      1   25    Saturday

In [462]:
csv_buffer = StringIO()
csv_buffer

In [463]:
import io
s3_resource = boto3.resource("s3")
bucket = "pavan-covid-etl-de-project"

def upload_df_to_s3(df, bucket, s3_key):
    csv_buffer = io.StringIO()
    df.to_csv(csv_buffer, index=False)
    
    s3_resource.Object(bucket, s3_key).put(
        Body=csv_buffer.getvalue()
    )
    
    print(f"Uploaded → s3://{bucket}/{s3_key}")

In [464]:
upload_df_to_s3(
    factCovid,
    bucket,
    "output/factCovid.csv"
)

Uploaded → s3://pavan-covid-etl-de-project/output/factCovid.csv

In [465]:
upload_df_to_s3(
    dimDate,
    bucket,
    "output/dimDate.csv"
)

Uploaded → s3://pavan-covid-etl-de-project/output/dimDate.csv

In [466]:
upload_df_to_s3(
    dimState,
    bucket,
    "output/dimState.csv"
)

Uploaded → s3://pavan-covid-etl-de-project/output/dimState.csv

In [467]:
upload_df_to_s3(
    dimCountry,
    bucket,
    "output/dimCountry.csv"
)

Uploaded → s3://pavan-covid-etl-de-project/output/dimCountry.csv

In [468]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print("".join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day" INTEGER,
  "day_of_week" TEXT
)

In [469]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print("".join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "date" TEXT,
  "state" TEXT,
  "cases" INTEGER,
  "deaths" INTEGER
)

In [470]:
dimStatesql = pd.io.sql.get_schema(dimState.reset_index(), 'dimState')
print("".join(dimStatesql))

CREATE TABLE "dimState" (
"index" INTEGER,
  "state" TEXT,
  "state_abv" TEXT,
  "population" REAL
)

In [471]:
dimCountrysql = pd.io.sql.get_schema(dimCountry.reset_index(), 'dimCountry')
print("".join(dimCountrysql))

CREATE TABLE "dimCountry" (
"index" INTEGER,
  "country" TEXT,
  "alpha-2 code" TEXT,
  "alpha-3 code" TEXT,
  "numeric code" REAL,
  "latitude" REAL,
  "longitude" REAL
)

In [472]:
!{sys.executable} -m pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (2.1.10)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (1.4.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (2025.2)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (4.13.4)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (1.42.20)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (2.32.3)
Requirement already satisfied: lxml<6.0.0,>=4.6.5 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (5.4.0)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (1.42.20)
Requirement already satisfied: packaging in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (24.2)
Requirement already satisfied: setuptools in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from redshift_connector) (80.7.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (4.12.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.17.0,>=0.16.0 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.16.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.2.3)
Requirement already satisfied: six>=1.5 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.8.30)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\pdmah\appdata\local\programs\python\python313\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: C:\Users\pdmah\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [473]:
import redshift_connector

In [474]:
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
    host='covid-etl-cluster.cddjhaelkplv.ap-south-1.redshift.amazonaws.com',
    port=5439,
    database='dev',
    user='awsuser',
    password='NWRMFfzdol059-$'
 )

In [475]:
conn.autocommit = True

In [476]:
cursor = redshift_connector.Cursor = conn.cursor()

In [477]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day" INTEGER,
  "day_of_week" TEXT
)
""")


cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "date" TEXT,
  "state" TEXT,
  "cases" INTEGER,
  "deaths" INTEGER
)
""")


cursor.execute("""
CREATE TABLE "dimState" (
"index" INTEGER,
  "state" TEXT,
  "state_abv" TEXT,
  "population" REAL
)
""")


cursor.execute("""
CREATE TABLE "dimCountry" (
"index" INTEGER,
  "country" TEXT,
  "alpha-2 code" TEXT,
  "alpha-3 code" TEXT,
  "numeric code" REAL,
  "latitude" REAL,
  "longitude" REAL
)
""")

In [479]:
cursor.execute("""
DROP TABLE IF EXISTS dimDate;
""")

cursor.execute("""
CREATE TABLE dimDate (
    date VARCHAR(20),
    year INT,
    month INT,
    day INT,
    day_of_week VARCHAR(20)
);
""")

cursor.execute("""
COPY dimDate
FROM 's3://pavan-covid-etl-de-project/output/dimDate.csv'
IAM_ROLE 'arn:aws:iam::122976267974:role/s3-redshift'
DELIMITER ','
REGION 'ap-south-1'
IGNOREHEADER 1;
""")

conn.commit()

In [480]:
cursor.execute("SELECT COUNT(*) FROM dimDate;")
print(cursor.fetchone())

[110]